<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.allabo.fyl.kb_server.assets.security.mapper.TotalUserAssetMapper">

    <resultMap id="userAssetMap"  type="TotalUserAssetDTO">
        <id property="customerId" 		column="customer_id" />
        <result property="identityNumber"		column="identity_number" />
        <result property="totalAccountBalance"		column="total_balance" />
        <result property="monthCardAmount"		column="monthly_amount" />
        <result property="monthInsurancePremium" 		column="monthly_premium" />
        <result property="totalRemainingLoan" 		column="remaining_balance" />
    </resultMap>
    <select id="get" resultMap="userAssetMap" parameterType="String">
        SELECT
            z.customer_id,
            z.identity_number,
            COALESCE(SUM(a.total_balance), 0) AS total_balance,
            c.month_amount AS monthly_amount,
            COALESCE(SUM(i.monthly_premium), 0) AS monthly_premium,
            COALESCE(SUM(l.remaining_balance), 0) AS remaining_balance
        FROM
            customer z
                LEFT JOIN account_info a ON z.customer_id = a.customer_id
                LEFT JOIN card_info c ON a.customer_id = c.customer_id
                LEFT JOIN insurance_info i ON a.customer_id = i.customer_id
                LEFT JOIN loan_info l ON a.customer_id = l.customer_id
        WHERE
            z.identity_number = #{identity}
        GROUP BY
            z.customer_id, z.identity_number, c.month_amount;
    </select>
    <resultMap id="user"  type="Customer">
        <id property="customerId" 		column="customer_id" />
        <result property="name"		column="name" />
        <result property="identityNumber"		column="identity_number" />
    </resultMap>
    <select id="findById" resultMap="user" parameterType="String">
        SELECT * FROM customer
                 WHERE
            identity_number = #{id}
    </select>
</mapper>


