<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <package name="com.allabo.fyl.fyl_server.security.vo" />
        <package name="com.allabo.fyl.fyl_server.security.dto" />
        <package name="com.allabo.fyl.fyl_server.dto" />
        <package name="com.allabo.fyl.fyl_server.entity" />
        <package name="com.allabo.fyl.fyl_server.dao" />
    </typeAliases>


</configuration>
