<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.fyl.fyl_server.security.mapper.CustomerMapper">
<insert id="insert" parameterType="Customer">
    INSERT INTO customer (
    id,pwd,name,identity_number,phone_number,total_income)
    VALUES (
    #{id},
    #{pwd},
    #{name},
    #{identityNumber},
    #{phoneNumber},
    #{totalIncome}
    )
</insert>
<insert id="insert_auth" parameterType="CustomerAuth">
    INSERT INTO customer_auth (id, auth) VALUES (#{id}, #{auth})
</insert>
<select id="findById"
        parameterType="string"
        resultType="Customer">
    SELECT id,pwd,name,identity_number,phone_number,total_income FROM customer WHERE id = #{id}
</select>
</mapper>


