<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.allabo.fyl.fyl_server.mapper.RecommendationMapper">
    <!-- 신용카드 필터링 쿼리 -->
    <select id="selectCreditCardRecommendations" resultType="CreditCardDAO">
        SELECT * FROM credit_card_products
        WHERE 1 = 1
        <if test="annualFeeMin != null and annualFeeMax != null">
            AND credit_card_annual_fee BETWEEN #{annualFeeMin} AND #{annualFeeMax}
        </if>
        <if test="benefits != null and benefits != ''">
            AND credit_card_keyword LIKE CONCAT('%', #{benefits}, '%')
        </if>
        <if test="category != null and category != ''">
            AND credit_card_category LIKE CONCAT('%', #{category}, '%')
        </if>
    </select>

    <!-- 체크카드 필터링 쿼리 -->
    <select id="selectCheckCardRecommendations" resultType="CheckCardDAO">
        SELECT * FROM check_card_products
        WHERE 1 = 1
        <if test="benefits != null and benefits != ''">
            AND check_card_keyword LIKE CONCAT('%', #{benefits}, '%')
        </if>
        <if test="category != null and category != ''">
            AND check_card_category LIKE CONCAT('%', #{category}, '%')
        </if>
    </select>
    <!-- 예적금 필터링 쿼리 -->
    <select id="selectDepositRecommendations" resultType="DepositDAO">

        SELECT * FROM deposit_products
        WHERE 1=1

        <!-- 1. 저축 방식에 따른 필터링 -->
        <if test="depositType == '예금'">
            AND deposit_category = '예금'
        </if>
        <if test="depositType == '적금'">
            AND deposit_category = '적금'
        </if>

        <!-- 2. 최소 예치금 필터링 -->
        <if test="minAmount == 0">
            AND deposit_min_amount <![CDATA[>=]]> 1000000
        </if>
        <if test="minAmount == 1">
            AND deposit_min_amount <![CDATA[<=]]> 1000000
        </if>

<!--        &lt;!&ndash; 3. 온라인 가입 여부에 따른 필터링 &ndash;&gt;-->
        <if test="onlineOnly == true">
            AND deposit_online = 'true'
        </if>
        <if test="onlineOnly == false">
            AND deposit_online = 'false'
        </if>

<!--        &lt;!&ndash; 4. 상품 가입 기간에 따른 필터링 &ndash;&gt;-->
        <if test="duration != null">
            AND deposit_duration <![CDATA[>=]]> #{duration}
        </if>

<!--        &lt;!&ndash; 5. 저축 성향에 따른 필터링 &ndash;&gt;-->
        <if test="preferInterestRate == true">
            AND deposit_prefer_interest_rate = 'true'
        </if>
        <if test="preferInterestRate == false">
            AND deposit_prefer_interest_rate = 'false'
        </if>

    </select>


</mapper>
