<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.fyl.fyl_server.mapper.UserLoanAnalyzeMapper">

    <insert id="saveUserLoanAnalyze" parameterType="UserLoanAnalyzeDAO">
        INSERT INTO user_loan_analyze (
            id,
            results
        )
        VALUES (
                #{id},
                #{results}
               )
    </insert>



    <resultMap id="userLoanAnalysisMap" type="UserLoanAnalyzeDAO">
        <id property="id" column="id" />
        <result property="results" column="results" />
    </resultMap>

    <select id="findById" parameterType="string" resultMap="userLoanAnalysisMap">
        SELECT *
        FROM user_loan_analyze
        WHERE id = #{id}
    </select>

    <update id="updateUserLoanAnalyze" parameterType="UserLoanAnalyzeDAO">
        UPDATE user_loan_analyze
        SET
            id = #{id},
            results = #{results}
        WHERE
            id = #{id}
    </update>


</mapper>


