<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.fyl.fyl_server.mapper.UserSavingAnalyzeMapper">

    <insert id="saveUserSavingAnalyze" parameterType="UserSavingAnalyzeDAO">
        INSERT INTO user_saving_analyze (id, results)
        VALUES (#{id}, #{results})
    </insert>
    <resultMap id="userSavingAnalyzeMap" type="UserSavingAnalyzeDAO">
        <id property="id" column="id" />
        <result property="results" column="results" />
    </resultMap>

    <select id="findById" parameterType="string" resultMap="userSavingAnalyzeMap">
        SELECT *
        FROM user_saving_analyze
        WHERE id = #{id}
    </select>


    <update id="updateUserSavingAnalyze" parameterType="UserSavingAnalyzeDAO">
        UPDATE user_saving_analyze
        SET
            results = #{results}
        WHERE
            id = #{id}
    </update>


</mapper>


