<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.fyl.fyl_server.mapper.UserExpenditureAnalyzeMapper">

    <insert id="saveUserExpenditureAnalyze" parameterType="UserExpenditureAnalyzeDAO">
        INSERT INTO user_expenditure_analyze (id, results)
        VALUES (#{id}, #{results})
    </insert>
    <resultMap id="userExpenditureAnalyzeMap" type="UserExpenditureAnalyzeDAO">
        <id property="id" column="id" />
        <result property="results" column="results" />
    </resultMap>

    <select id="findById" parameterType="string" resultMap="userExpenditureAnalyzeMap">
        SELECT *
        FROM user_expenditure_analyze
        WHERE id = #{id}
    </select>


    <update id="updateUserExpenditureAnalyze" parameterType="UserExpenditureAnalyzeDAO">
        UPDATE user_expenditure_analyze
        SET
            results = #{results}
        WHERE
            id = #{id}
    </update>


</mapper>


