<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.allabo.fyl.fyl_server.mapper.UserSavingRatioAnalyzeMapper">

    <insert id="saveUserSavingRatioAnalyze" parameterType="UserSavingRatioAnalyzeDAO">
        INSERT INTO user_saving_ratio_analyze (id, results)
        VALUES (#{id}, #{results})
    </insert>
    <resultMap id="userSavingRatioAnalyzeMap" type="UserSavingRatioAnalyzeDAO">
        <id property="id" column="id" />
        <result property="results" column="results" />
    </resultMap>

    <select id="findById" parameterType="string" resultMap="userSavingRatioAnalyzeMap">
        SELECT *
        FROM user_saving_ratio_analyze
        WHERE id = #{id}
    </select>


    <update id="updateUserSavingRatioAnalyze" parameterType="UserSavingRatioAnalyzeDAO">
        UPDATE user_saving_ratio_analyze
        SET
            results = #{results}
        WHERE
            id = #{id}
    </update>


</mapper>


